.calendar {
	padding: 90px 0 140px;
}
.calendar__title {
	color: var(--black);
	margin-bottom: 96px;
}

.calendar__item {
	display: flex;
	flex-direction: column;
	width: 400px;
	margin: auto;
	height: 550px;
	padding: 30px;
	/* background-color: radial-gradient(95.11% 98.54% at 5.76% 100%, #FE944D 0%, #FF7A30 100%); */
	background: radial-gradient(95.11% 98.54% at 5.76% 100%, #fe944d 0%, #ff7a30 100%);
}
.month__table {
	padding: 20px 0;
}
.calendar__item hr {
	width: 100%;
	height: 1px;
	background-color: black;
}
.month__title {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	letter-spacing: -0.186394px;
	color: #ffffff;
	width: 100%;
	margin-bottom: 20px;
	/* border-bottom: 2px solid black; */
}
.month__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 20px;
	overflow: scroll;
}
.month__item {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
}
.month__item span {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: #811493;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.month__item p {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #ffffff;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.vanilla-calendar {
	width: 100%;
	background-color: transparent;
	padding: 0;
	border-radius: 0;
}
.vanilla-calendar-wrapper {
	display: flex;
	flex-direction: column;
}

button.vanilla-calendar-day__btn {
	background: transparent;
	color: #fff;
	font-size: 20px;
}
button.vanilla-calendar-day__btn:hover {
	background: transparent;
}
.vanilla-calendar-event {
	display: flex;
	gap: 20px;
}
